* {
    box-sizing: border-box;
}

body {
    font: 100%/1.5 Georgia, serif;
    margin: 0;
    color: #323232;
}

img {
    display: inline-block;
    max-width: 100%;
}

a {
    color: #398fc8;
}

p {
    margin: 0 0 1.5em;
}

blockquote {
    font-style: italic;
    margin: 2em 0 0;
}

h2 {
    font-size: 1.8em;
    font-weight: 400;
    margin: 1.2em 0 0;
}

.store-links {
	margin: 2em 0;
}

.store-link {
    display: inline-block;
    max-width: 135px;
    margin-right: 1em;
}

.container {
    max-width: 850px;
    margin: 0 auto;
    padding: 0 1em;
}

.site-header {
    padding: 3em 0;
}

.site-header__logo {
    max-width: 300px;
}

.intro {

}
.intro:after {
    content: "  ";
    display: table;
    clear: both;
}

.intro__image {
	border: 1px solid #999;
	box-shadow: 6px 4px 0px #ccc;
	padding: 28px 24px;
	border-radius: 10px;
	background: #fff;
}

.intro__image img {
	border: 2px solid #555;
	border-radius: 2px;
}

main {
	padding: 2em 0;
	background: #eef6f2;
}

@media screen and (min-width: 690px) {
	.intro__image {
		margin-top: -10em;
	}

	.intro__content, .block {
	    float: left;
	    width: 47%;
	}
	.intro__image {
	    float: right;
	    width: 47%;
	}

}
